node-red/flows.json
[
  {
    "id": "tab1",
    "type": "tab",
    "label": "Sensor Dashboard",
    "disabled": false,
    "info": ""
  },
  {
    "id": "ui_tab1",
    "type": "ui_tab",
    "name": "센서 모니터링",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
  },
  {
    "id": "ui_group_gauge",
    "type": "ui_group",
    "name": "실시간 게이지",
    "tab": "ui_tab1",
    "order": 1,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "ui_group_temp",
    "type": "ui_group",
    "name": "온도 시계열",
    "tab": "ui_tab1",
    "order": 2,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "ui_group_humi",
    "type": "ui_group",
    "name": "습도 시계열",
    "tab": "ui_tab1",
    "order": 3,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "ui_group_pres",
    "type": "ui_group",
    "name": "기압 시계열",
    "tab": "ui_tab1",
    "order": 4,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "pg_config",
    "type": "postgreSQLConfig",
    "name": "SensorDB",
    "host": "postgresql",
    "hostFieldType": "str",
    "port": "5432",
    "portFieldType": "num",
    "database": "sensordb",
    "databaseFieldType": "str",
    "ssl": false,
    "sslFieldType": "bool",
    "applicationName": "node-red",
    "max": 10,
    "min": 1,
    "idle": 1000,
    "connectionTimeout": 10000,
    "user": "sensor_user",
    "userFieldType": "str",
    "password": "sensor_pass",
    "passwordFieldType": "str"
  },
  {
    "id": "inject1",
    "type": "inject",
    "z": "tab1",
    "name": "5초 간격",
    "props": [{"p": "payload"}],
    "repeat": "5",
    "crontab": "",
    "once": true,
    "onceDelay": 1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 100,
    "y": 200,
    "wires": [["pg_query"]]
  },
  {
    "id": "pg_query",
    "type": "postgresql",
    "z": "tab1",
    "name": "최근 1건 조회",
    "query": "SELECT temperature, humidity, pressure, recorded_at FROM sensor_data ORDER BY recorded_at DESC LIMIT 1;",
    "postgreSQLConfig": "pg_config",
    "split": false,
    "rowsPerMsg": 1,
    "outputs": 1,
    "x": 280,
    "y": 200,
    "wires": [["fn_split"]]
  },
  {
    "id": "fn_split",
    "type": "function",
    "z": "tab1",
    "name": "온도/습도/기압 분리",
    "func": "var rows = msg.payload;\nif (!Array.isArray(rows) || rows.length === 0) return null;\n\nvar row = rows[0];\nvar ts = new Date(row.recorded_at).getTime();\n\nvar msgTemp = { payload: row.temperature, topic: '온도(°C)',   x: ts };\nvar msgHumi = { payload: row.humidity,    topic: '습도(%)',    x: ts };\nvar msgPres = { payload: row.pressure,    topic: '기압(hPa)', x: ts };\n\nreturn [msgTemp, msgHumi, msgPres];",
    "outputs": 3,
    "x": 490,
    "y": 200,
    "wires": [
      ["gauge_temp", "chart_temp"],
      ["gauge_humi", "chart_humi"],
      ["gauge_pres", "chart_pres"]
    ]
  },
  {
    "id": "gauge_temp",
    "type": "ui_gauge",
    "z": "tab1",
    "name": "온도 게이지",
    "group": "ui_group_gauge",
    "order": 1,
    "width": "4",
    "height": "4",
    "gtype": "gage",
    "title": "온도",
    "label": "°C",
    "format": "{{value}}",
    "min": 0,
    "max": 50,
    "colors": ["#3498db", "#f39c12", "#e74c3c"],
    "seg1": "15",
    "seg2": "30",
    "className": "",
    "x": 730,
    "y": 100,
    "wires": []
  },
  {
    "id": "chart_temp",
    "type": "ui_chart",
    "z": "tab1",
    "name": "온도 시계열",
    "group": "ui_group_temp",
    "order": 1,
    "width": "12",
    "height": "5",
    "label": "온도 (°C)",
    "chartType": "line",
    "legend": "true",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "데이터 수집 중...",
    "dot": false,
    "ymin": "10",
    "ymax": "40",
    "removeOlder": 1,
    "removeOlderPoints": "100",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "colors": ["#e74c3c"],
    "useOneColor": false,
    "useUTC": false,
    "className": "",
    "x": 730,
    "y": 160,
    "wires": [[]]
  },
  {
    "id": "gauge_humi",
    "type": "ui_gauge",
    "z": "tab1",
    "name": "습도 게이지",
    "group": "ui_group_gauge",
    "order": 2,
    "width": "4",
    "height": "4",
    "gtype": "gage",
    "title": "습도",
    "label": "%",
    "format": "{{value}}",
    "min": 0,
    "max": 100,
    "colors": ["#2ecc71", "#27ae60", "#3498db"],
    "seg1": "30",
    "seg2": "70",
    "className": "",
    "x": 730,
    "y": 240,
    "wires": []
  },
  {
    "id": "chart_humi",
    "type": "ui_chart",
    "z": "tab1",
    "name": "습도 시계열",
    "group": "ui_group_humi",
    "order": 1,
    "width": "12",
    "height": "5",
    "label": "습도 (%)",
    "chartType": "line",
    "legend": "true",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "데이터 수집 중...",
    "dot": false,
    "ymin": "25",
    "ymax": "95",
    "removeOlder": 1,
    "removeOlderPoints": "100",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "colors": ["#2ecc71"],
    "useOneColor": false,
    "useUTC": false,
    "className": "",
    "x": 730,
    "y": 300,
    "wires": [[]]
  },
  {
    "id": "gauge_pres",
    "type": "ui_gauge",
    "z": "tab1",
    "name": "기압 게이지",
    "group": "ui_group_gauge",
    "order": 3,
    "width": "4",
    "height": "4",
    "gtype": "gage",
    "title": "기압",
    "label": "hPa",
    "format": "{{value}}",
    "min": 950,
    "max": 1050,
    "colors": ["#f1c40f", "#e67e22", "#2ecc71"],
    "seg1": "980",
    "seg2": "1010",
    "className": "",
    "x": 730,
    "y": 380,
    "wires": []
  },
  {
    "id": "chart_pres",
    "type": "ui_chart",
    "z": "tab1",
    "name": "기압 시계열",
    "group": "ui_group_pres",
    "order": 1,
    "width": "12",
    "height": "5",
    "label": "기압 (hPa)",
    "chartType": "line",
    "legend": "true",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "데이터 수집 중...",
    "dot": false,
    "ymin": "975",
    "ymax": "1030",
    "removeOlder": 1,
    "removeOlderPoints": "100",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "colors": ["#3498db"],
    "useOneColor": false,
    "useUTC": false,
    "className": "",
    "x": 730,
    "y": 440,
    "wires": [[]]
  }
]
